{% include uw_nav.html %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <img src="http://cnerg.github.io/_static/images/logo.png" height="50px">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

{% include site_nav.html  %}