<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navbar %}
            {% if item.subcategories != null %}
            <li class="nav-itme dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/{{ item.url }}" >{{ item.title }}</a>
                <div class="dropdown-menu" aria-labelledby="download">
            {% for subcategory in item.subcategories %}
              {% if subcategory.subtitle == "divider" %}
              <div class="dropdown-divider"></div>
              {% else %}
              <div class="dropdown-item">
              {% if subcategory.suburl == null %}
                  <a target="{{ subcategory.target }}" href="{{ subcategory.exturl }}">
                    {% if subcategory.icon != null %}
                    <img class="cnerg-service-icon" src="{{ site.baseurl }}/assets/images/{{ subcategory.icon }}.png">
                    {% endif %}
                    {{ subcategory.subtitle }}</a>
                    {% if subcategory.github != null %}
                    <a href="{{ subcategory.github }}" target="_blank"><img class="cnerg-service-menu-icon" src="{{ site.baseurl }}/services/icons/github.svg"></a>
                    {% endif %}
              {% else %}
                  <a target="{{ subcategory.target }}" href="{{ site.baseurl }}/{{ subcategory.suburl }}">
                    {% if subcategory.icon != null %}
                    <img class="cnerg-service-icon" src="{{ site.baseurl }}/assets/images/{{ subcategory.icon }}.png">
                    {% endif %}
                    {{ subcategory.subtitle }}
                  </a>
                  {% if subcategory.github != null %}
                  <a href="{{ subcategory.github }}" target="_blank"><img class="cnerg-service-menu-icon" src="{{ site.baseurl }}/services/icons/github.svg"></a>
                  {% endif %}
              {% endif %}
              </div>
              {% endif %}
            {% endfor %}
            </div>
            {% else %}
              {% if item.url != null %}
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
              </li>
              {% elsif item.exturl != null %}
              <li class="nav-item">
                <a class="nav-link" href="{{ item.exturl }}">{{ item.title }}</a>
              </li>
              {% endif %}
            {% endif %}
            {% endfor %}
      </ul>
      </div>
    </div>
  </nav>
  

