<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <img src="{{ site.baseurl }}/assets/images/crest.png" height="35px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.uw_navbar %}
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ item.url }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  