---
layout: default
---

{% assign data = site.data[page.data] %}

<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section>    
    {{ content }}
  </section>

 <section>
    <h2>Specific {{ page.data }} to consider</h2>
    <dl>
    {% for item in data %}
    <dt>{{ item.title }}</dt>
    <dd>{{ item.desc }}
        <ul>
            {% for link in item.links %}
            <a href="{{ link.url }}">{{ link.text }}</a>
            {% endfor %}
        </ul>
    </dd>

    {% endfor %}
    </dl>
</section>



</article>
