---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

    {% for group in site.data.people %}
    {% if group.group != "Alumni" %}
    <section>
      <h2> {{ group.group }}</h2>
      {% for person in group.people %}
      {% assign start_row = forloop.index | modulo : 4 %}
      {% if start_row == 1 %}
      <div class="row">
      {% endif %}
        <div class="col-sm-3">
          {% if person.image != null %}
          <a href="{{ person.url }}"><img class="cnerg-headshot" src="{{ person.url }}/{{ person.image }}"><br/>
          {% else %}
          <a href="{{ person.url }}"><img class="cnerg-headshot" src="hacker_blank.jpg"><br/>
          {% endif %}
          <b>{{ person.name }}</b> <br/>
        {{ person.role }}</a>
        </div>
    {% if start_row == 0 %}
    </div>
    {% endif %}
    {% endfor %}
    </section>
    {% else %}
    <section>
      <h2>{{ group.group }}</h2>
      <ol>
        {% for person in group.people %}
        <li>
          {% if person.url != null %}
          <a href="{{ person.url }}" target="_blank">{{ person.name }}</a>,
          {% else %}
          {{ person.name }},
          {% endif %}
          ({{ person.role }}, {{ person.year }})
          {% if person.employer != null %}
            {% if person.employer_url != null %}
            , <a href="{{ person.employer_url }}" target="_blank">{{ person.employer }}</a>
            {% else %}
            , {{ person.employer }}
            {% endif %}
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </section>
    {% endif %}
    {% endfor %}

</article>
