---
layout: default
---
<article>

  <header>
  </header>

  <section>
    {% if page.services.twitter != null  %}
    <div style="float: right;"><a class="twitter-timeline" data-height="800" data-width="220" href="https://twitter.com/{{ page.services.twitter }} ">News from gonuke</a> <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    {% endif %}
    <table>
        <tr>
            <td><img class="cnerg-person-headshot" src="{{ page.image }}"></td>
            <td valign="top">
                <h1>{{ page.title | escape }}</h1>
                <h2>{{ page.role | escape}}</h2>
                <a href="mailto:{{ page.email }}">{{ page.email }}</a></br>
                {{ page.phone }}</br>
                {{ page.room }}</br>
                {% if page.google_map != null %}
                <a href="{{ page.google_map }}" target=_blank>
                    {{ page.address }}</br>
                </a>
                {% else %}
                {{ page.address }}</br>
                {% endif %}
                {{ page.city_state_zip }}</br>
                <p></p>
                {% for service in page.services %}
                {% assign key = service[0] %}
                {% assign username = service[1] %}
                {% assign baseurl = site.data.services[key].baseurl %}
                {% assign icon = site.data.services[key].icon %}
                <a href="{{ baseurl }}{{ username }}" target="_blank">
                  <img class="cnerg-service-icon" src="/services/icons/{{ icon }}" alt="icon for {{ key }}">
                </a>
                {% endfor %}
            </td>
        </tr>
    </table>


    {{ content }}
  </section>

</article>
