---
layout: default
---
<article>
  
  <header>
  </header>
  
  <section>
    <p><a href="/">CNERG</a> / <a href="../">Members of CNERG Community</a></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class="cnerg-person-headshot" src="{{ page.image }}">
        </div>
        <div class="col-sm-8">
          <h1>{{ page.title | escape }}</h1>
          <h2>{{ page.role | escape}}</h2>
          {% for address in page.email %}
          <a href="mailto:{{ address }}">{{ address }}</a></br>
          {% endfor %}
          {{ page.phone }}</br>
          {{ page.room }}</br>
          {% if page.google_map != null %}
          <a href="{{ page.google_map }}" target=_blank>
            {{ page.address }}</br>
          </a>
	  {% elsif page.open_street_map != null %}
	  <a href="{{ page.open_street_map }}" target=_blank>
            {{ page.address }}</br>
          </a>
          {% else %}
          {{ page.address }}</br>
          {% endif %}
          {{ page.city_state_zip }}</br>
          <p></p>
          {% for service in page.services %}
          {% assign key = service[0] %}
          {% assign username = service[1] %}
          {% assign baseurl = site.data.services[key].baseurl %}
          {% assign icon = site.data.services[key].icon %}
          <a href="{{ baseurl }}{{ username }}" target="_blank">
            <img class="cnerg-service-icon" src="{{ site.baseurl }}/services/icons/{{ icon }}" alt="icon for {{ key }}">
          </a>
          {% endfor %}
          {% if page.personal_website != null %}
          <br/><a href="{{ page.personal_website }}">Personal Website</a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  
</article>
