---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

    {% for group in site.data.projects %}
    <section>
      <h2> {{ group.group }}</h2>
      {% for project in group.projects %}
      {% assign start_row = forloop.index | modulo : 4 %}
      {% if start_row == 1 %}
      <div class="row">
      {% endif %}
        <div class="col-sm-3">
          {% if project.image != null %}
          <img class="cnerg-headshot" src="{{ project.image }}"><br/>
          {% else %}
          <img class="cnerg-headshot" src="hacker_blank.jpg"><br/>
          {% endif %}
          <b>{{ project.title }}</b> <br/>
        {{ person.role }}</a>
        </div>
    {% if start_row == 0 %}
    </div>
    {% endif %}
    {% endfor %}
    </section>   
    {% endif %}
    {% endfor %}

</article>
