---
layout: default
---

{% assign max_authors = 5 %}

{% assign pubs = site.data[page.data_source] | where_exp: "item", 'item["data"]["itemType"] == page.itemType' %}

<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section>    
    {{ content }}
  </section>


 <section>
    <div class="row">
        <div class="col-sm-12">
            <ol>
            {% for item in pubs %}
            {% assign data = item["data"] %}
            <li>
                {% for author in data["creators"] limit:max_authors %}
                    {{ author["firstName"] }} {{ author["lastName"] }},
                {% endfor %}
                {% if data["creators"].size > max_authors %}
                    <span class="font-italic">et al,</span>
                {% endif %}
                "{%- if data["url"] != "" %}<a href="{{ data['url'] }}" target="_blank">{{ data["title"] }}</a>
                {%- else %}{{ data["title"] }}{%- endif %}",
                {% if page.itemType == "journalArticle" %}
                    <span class="font-italic">{{ data["publicationTitle"] }}</span>,
                    <span class="font-weight-bold">{{ data["volume"] }}</span>,
                    pp. {{ data["pages"] }} 
                {% elsif page.itemType == "conferencePaper" %}
                    <span class="font-italic">{{ data["proceedingsTitle"] }}</span>,
                {% elsif page.itemType == "thesis" %}
                    {{ data["thesisType"]  }}, {{ data["university"] }},
                {% endif %}
                ({{ data["date"] }})
                {% if data["abstractNote"] != ""  or item["bibtex"] != "" %}
                    <div class="row">
                    {% if data["abstractNote"] != "" %}
                        <div class="col-sm-2 text-center">
                            <a data-toggle="collapse" href="#abstract-{{ data['key'] }}" aria-expanded="false" aria-controls="abstract-{{ data['key'] }}">Abstract</a>
                        </div>
                    {% endif %}
                    {% if item["bibtex"] != "" %}
                        <div class="col-sm-2 text-center">
                            <a data-toggle="collapse" href="#bibtex-{{ data['key'] }}" aria-expanded="false" aria-controls="bibtex-{{ data['key'] }}">BibTeX</a>
                        </div>
                    {% endif %}
                    </div>
                    {% if data["abstractNote"] != "" %}
                        <div id="abstract-{{ data['key'] }}" class="collapse"><div class="card card-body">{{ data['abstractNote'] }}</div></div>
                    {% endif %}
                    {% if item["bibtex"] != "" %}
                        <div id="bibtex-{{ data['key'] }}" class="collapse"><div class="card card-body"><pre>{{ item["bibtex"] }}</pre></div></div>
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
            </ol>
        </div>
    </div>
</section>



</article>
