---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section>    
    {{ content }}
  </section>

 <section>
    <h2>Specific tools to consider</h2>
    <dl>
    {% for tool in site.data.tools %}
    <dt>{{ tool.title }}</dt>
    <dd>{{ tool.desc }}
        <ul>
            {% for link in tool.links %}
            <a href="{{ link.url }}">{{ link.text }}</a>
            {% endfor %}
        </ul>
    </dd>

    {% endfor %}
    </dl>
</section>



</article>
